<div class="container  borde-superior">

    <div class="row container-bg">
        <div class="col-12 col-md-6" (click)="consultarPortafolio('PortafolioA')">
            <div class="card tarjeta-opcion ">
                <img class="card-img-top redondeado-imagen" src="./assets/img/diseñoAlex.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alexander Panqueva</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                   <div></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card tarjeta-opcion" (click)="consultarPortafolio('PortafolioL')" >
                <img class="card-img-top redondeado-imagen" src="./assets/img/robin.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Laura Merchán</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                        <div></div>
                </div>
            </div>
        </div>
    </div>

</div>